    *,*::before,*::after {
    box-sizing: border-box;
    user-select: none;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items:  center;
    min-height: 100vh;
    background-color: black;
}
.world {
    overflow: hidden;
    position: relative;
    background-image: url(./img/hell-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.score {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 2.5vmin;
    color: orange;
}
.high-score {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 0.1vmin;
    color: orange;
}
.start-screen {
    position: absolute;
    font-size: 4.5vmin;
    top: 45%;
    left: 42%;
    transform: translate(-45px, -42px);
    background-color: black;
    color: orange;
    border-radius: 20px;
    text-align: center;
    padding: 0.4em;
    opacity: 0.89;
    border: 3px solid orange;
}

.hide {
    display: none;
}
.ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}
.dante {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
}
.demon {
   bottom: 0;
    position: absolute;
    height: 30%;
    left: calc(var(--left) * 1%);
}
